@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
body{
    font-family: 'Orelega One', cursive;
    letter-spacing: 2px;
    font-size: 24px;
    background-image: url("img/12.jpg");
    background-size: 140%;
}
.wrapper{
    background-color: #423e3e;
    color: white;
    margin: 0 auto;
    width: 1600px;
    text-align: center;
}
header{
    background-color: #242323;
    opacity: 0.7;
}
a{
    text-decoration: none; 
    color: white; 
    margin-left: 30px;
    margin-bottom: 30px;
}
h1,h2{
    color: #86827b;
}
h1{
    margin-top: 30px;
}
.img-logo{
    width: 110px;
}
.img-louvre{
    width: 100%;
}
section{
    margin: 20px;
}
.card{
    width: 240px;
}
input{
    width: 190px;
    font-size: 20px;
    padding: 6px 0 4px 10px;
    border: 2px #cecece solid;
    background-color: #F6F6f6;
    border-radius: 8px;
}
footer{
    background-color: #4b4b4a;
}